# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Dart
pubspec.lock  # optional (keep if app, remove if library)

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/