# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Env (VERY IMPORTANT)
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/